.swiper-pagination {
    margin-top: 20rem;
  }
  
  .swiper-pagination-bullet {
    background-color: #ac6b34;
  }


*{
  scroll-behavior: smooth;
}

@media (max-width: 800px)  {
  .main {
    background-image: url('./assets/img/hero/guy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 50%;
  }
}